<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-1.0">
        <title>Ascii-web</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <div class="container">
                <div class="form">
                    <div class="one">
                    <h1 class="ascii">Ascii-Art-Stylize</h1>
                    <h1 class="text">Ascii art</h1>
                    </div>
                 
                    <form action="/ascii" method="post">
                     
                        <textarea  class="area" name="text" placeholder="Input Text"></textarea>
                        <div class="option">
                            <p> Choose a banner file</p>
                            <select name="banner">
                                <option value="standard">standard</option>
                                <option value="shadow"> shadow</option>
                                <option value="thinkertoy">Thinkertoy</option>
                            </select>
                            <button type="submit">Generate ascii</button>
                            </form>
                        </div>
                     
                    <div class="output">
                 
                          <pre>{{.Output}}</pre>
                        
                    </div>
                </div>
             
        </div>
    </body>
</html>