<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <title>Ascii-web</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body><div>
    <span class="v">ascii-art-ascii-art-ascii-art-ascii-art-ascii-art-ascii-art</span>
    <span class="w">ascii-art-ascii-art-ascii-art-ascii-art-ascii-art-ascii</span>
    <span class="x">ascii-art-ascii-art-ascii-art-ascii-art-ascii-art-ascii</span>
    <span class="y">ascii-art-ascii-art-ascii-art-ascii-art-ascii-art-ascii-art</span>
    <span class="z">ascii-art-ascii-art-ascii-art-ascii-art-ascii-art-ascii-art-ascii-art-sciii-art</span>
    <span class="ok">ascii-art-ascii-art-ascii-art-ascii-art-ascii-art-ascii-art-ascii-art-sciii-art</span>
</div>
        

    <label for="click" class="instruction"> Instruction</label>
    <input type="checkbox" id="click">

    <div class="over">
    

        <div class="popup">
            <label for="click" class="sign">x</label>
            <h1 class="instruct">Instruction</h1>
            <p class="opt">How to use</p>
            <ol class="pop-up-text">
                <li>
                    Enter the text you want to convert into ASCII art.
                </li> 
                <li class="option">
                    Select a banner style:
                   <ul class="style">
                    <li>Standard</li>
                    <li>Thickertoy</li>
                    <li>Shadow</li>
                   </ul>
                </li>
                <li class="option">Click Generate ASCII.</li>
                <li class="option">The generated ASCII art will appear in the output section below.
                </li> 
            
             </ol>
                <pre class="pr">
                  _   _        _ _
                 | | | | ___  | | |  ___
                 | |_| |/ _ \ | | | / _ \
                 |  _  || __/ | | || (_) |
                 |_| |_|\___| |_|_| \___/
                </pre>
        </div>
    </div>
    <div class="overlay">
        <div class="container">
            <div class="form">
                <div class="one">
                    <h1 class="ascii">Ascii-Art-Stylize</h1>
                    <h1 class="text">Ascii art</h1>
                </div>

                <form action="/ascii" method="post">
                    <textarea class="area" name="text" placeholder="Input Text"></textarea>
                    <div class="option">
                        <p class="banner-text"> Choose a banner file</p>
                        <select class="banner" name="banner">
                            <option value="standard">standard</option>
                            <option value="shadow"> shadow</option>
                            <option value="thinkertoy">Thinkertoy</option>
                        </select>
                        <button class="banner submit" type="submit">Generate ascii</button>
                </form>
            </div>

            <div class="output">

                <pre>{{.Output}}</pre>

            </div>
        </div>

    </div>
    </div>


</body>

</html>