@font-face {
    font-family: 'regular';
    src: url('../fonts/VT323-Regular.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:black;
    overflow:auto; 
    height: 100vh;
    /* z-index: 20; */
}

.container{
    display: grid;
    place-items: center;
    height: 100%;
    background-color:rgb(14, 14, 14);

}
.overlay {
    /* display: block; */
    position: fixed;
    inset: 0;
    background: rgba(red, green, blue, alpha);
}


.form {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    /* flex-direction: column; */
    /* border: 2px solid orange; */
    background-color:#f1f5f9;
    width: 650px;
    height: 500px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 2px 2px 30px 5px rgba(215, 212, 207, 0.873);
}

.text{
    font-size: 30px;
    /* color: lightgoldenrodyellow; */

}
.ascii {
    font-family: 'regular';
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
}
.area{
    width:300px;
    height: 90px;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    /* transition: border 0.3s ease; */
  
}

.output{
    border: 1px solid black;
    background-color:#fff;
    border-radius: 20px;
    margin: 20px;
    width:450px ;
    height: 100px;
    overflow: auto;
    
}
.option{
    margin-top: 20px;
}
pre{
    text-align: center;
}
.one{
    align-self: center;
}
.banner{
    cursor: pointer;
    border: none;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.submit{
    background-color: black;
    color: white;
}

.submit:hover{
    background-color:#8b8585 ;
    color:#fff ;
}
.banner-text{
font-size: 20px;

}
.over{
    position:fixed;
    background:rgba(30, 85, 122, 0.2);
   height: 100vh;
   width:100%;
   left: 0;
   right: 0;
   z-index: 30;
    /* display: none;///////////// */

}

.popup{
    display: fixed;
    background: white;
    background-color: white;
    border: 3px solid white;
    width: 120vh;
    height: 100vh;
    /* transform: translate(-50%,-50%); */
    /* visibility: visible; */
    /* z-index: 90; */

    display: flex;
   align-self: center;
   justify-self: center;
}
.instruction{
    text-align: center;
}
#click{
    display: none;
    /* left: 90%; */
    /* color: blue; */
}
#click:checked~.over{
    display: block;
}
.sign{
    position: absolute;
    left: 70%;
}